.main {
  min-height: 100vh;

  .top_div {
    text-transform: capitalize;
    font-size: 26px;
    color: white;
    margin: 2vw;
    margin-top: 3vh;
    //   font-family: ;
    p{
      font-family: 'Poppins', sans-serif, serif;
    }
  }

  .center_div {
    margin-top: 28vh;
    text-transform: uppercase;
    align-self: center;
    justify-content: center;
    color: white;

    .the {
      font-family: "Poppins", sans-serif;
      display: flex;
      align-items: center;

      width: 72%;
      display: flex;
      justify-content: space-between;
      font-size: 45px;
      margin-left: 6vw;
      .left{
        margin-left: 5%;
      }

      .right {
        text-transform: capitalize;
        font-size: 22px;
        color: black;
      }
    }
    .wildlife {
        
      margin-left: 9vw;
      font-size: 245px;
      margin-top: -5vh;
      .left {
        margin-right: 3vw;
      }
      .right {
        margin-left: 3vw;
      }
    }
    .adventure {
      letter-spacing: 37px;
      text-transform: uppercase;
      font-size: 28px;
      margin-left: 12vw;
    }
  }
}
