.footer {
  position: sticky;
  top: 90%;
  margin-left: 2.5vw;
  color: white;
  display: flex;
  font-family: "Poppins", sans-serif;

  justify-content: flex-start;
  align-items: center;
  .first {
    flex: 0.7;
    p:first-child {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 23px;
    }
    p:nth-child(2) {
      color: rgba(245, 245, 245, 0.6);
      text-transform: capitalize;
      font-size: 14px;
    }
  }
  .second {
    flex: 1.2;
    margin-left: -4vw;

    p:first-child {
      font-size: 14px;
      margin-bottom: 10px;
    }
    p:nth-child(2) {
      color: yellow;
      text-transform: capitalize;
    }
  }
  .third {
    margin-left: 0.5vw;
    flex: 0.5;

    p:first-child {
      font-size: 25px;
      color: yellow;
      margin-bottom: 3px;
    }
    p:nth-child(2) {
      font-size: 14px;
      text-transform: capitalize;
    }
  }
  .fourth {
    // margin-left: 1vw;
    flex: 0.6;

    p:first-child {
      font-size: 25px;
      color: yellow;
      margin-bottom: 3px;
    }
    p:nth-child(2) {
      font-size: 14px;
      text-transform: capitalize;
    }
  }
  .fifth {
    margin-left: 0.5vw;
    flex: 0.5;

    p:first-child {
      font-size: 25px;
      color: yellow;
      margin-bottom: 3px;
    }
    p:nth-child(2) {
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}
